body{
    text-align: center;
    padding: 40px;
    background-color: #3D365C;
color: #3D365C;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}
.container{
    background-color: #8174A0;
    margin: auto;
   padding: 50px;
   border-radius: 15px;
   margin-top: 50px;
   gap: 2px;
   box-shadow: 0  0  40px ;
   color: #8174A0;
}

h1{
    padding-bottom: 30px;
    font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight:300px;
  font-style: normal;
    font-size: 50px;
    color: #441752;
}

input, button{
    color:#A888B5;
    background-color: #6b5d8e;
    padding: 5px;
    margin-bottom: 10px;
font-size: 15px;
border-radius: 10px;
border: none;

}
button{
    background-color: #8174A0;
   
    color: #441752;
}
button:hover{
    background-color: #A888B5;
    color: #8174A0;
}
img, iframe{
    margin-top: 20px;
    max-width: 100%;
border-radius: 10px;
}
#result p{
     font-family: "inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
    margin-top: 15px;
    line-height: 1.6;
}
#result h2{
    color: #441752;
     font-family: "unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
    margin-top: 15px;
    line-height: 1.6;
}
h4{
    
    color: #3D365C;
    
}
p{
    font-family: "inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900px;
  font-style: normal;
     padding-top: 20px;
     color: #441752;
}
